.logo-login{
    display: flex;
    font-family: inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color:rgba(8,23,53,1);
    gap:8px;

}

.subtract{
    height: 200px;
    width: 284px;
    position: absolute;
    right:38em;
    bottom:1px;
}

.logo-login h2{
    align-self:center;
}

.stats-card {
    display: flex;
    flex-direction: column;
    /* Stacks children vertically */
   justify-content: center;
    /* Aligns content vertically in the center */
   position: relative;
    /* Aligns content horizontally in the center */
   
    margin-left: 8rem;
    padding-right: 7rem;
    /* Makes the card take the full height of the viewport */
   
 
}

.stats{
    box-shadow: 0px 0px 24px 0px rgba(8, 23, 53, 0.16);
    width: 40vw;
    padding: 1rem;
    border-radius: 24px;
}

.line{
    
    margin-top: 2rem;
  border:1px solid rgba(230, 232, 240, 1);
    width: 106%;
    position:relative ;
    right: 1rem;
}

.stats-list{
    display: flex;
    justify-content: space-evenly;
    

}
.stats-details{
    margin-top: 1rem;
}
.stats-list h3{
    font-family: inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}
.stats-list p{
    align-self:flex-start;
    font-family: inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color:rgba(23, 23, 23, 1);
}
.dev{
    position: relative;
    right: 28px;
}

.hour{
    position: relative;
        right: 28px;
}

.stats-card-2{
    display: flex;
    position: relative;
        box-shadow: 0px 0px 24px 0px rgba(8, 23, 53, 0.16);
        border-radius: 24px;
        padding: 1rem;
        width: 18rem;
        left: 21em;
       bottom:9px;
        background-color: rgba(255, 255, 255, 1);
}

.card-stats-2 h4{
      font-family: inter;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
}
.card-icon img{
    width: 56px;
    height: 56.77px;
}

.card-stats-2 h2{
    font-family: inter;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    padding-top: 8px;
    color:rgba(8, 23, 53, 1);
}

.card-icon{
    display: flex;
    flex-direction: column;
    gap:8px;
}

.card-growth{
    display: flex;
    gap:3px;
    margin-left: 5rem;
    flex-direction: column;
}

.growth-icon{
    font-family: inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color:rgba(0, 73, 198, 1);
}

.weeks{
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

@media (max-width: 431px){


    .stats-card{
        display: none;
    }

}